<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizzazione Diritto Soggettivo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Dettagli Domanda Giudiziale</h1>
    <div id="details"></div>

    <!-- Caricamento delle librerie e script alla fine del body per migliorare il tempo di caricamento della pagina -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="{{ url_for('static', filename='visual.js') }}"></script>
</body>
</html>
